.customer {
    height: 372px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customer__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.customer_list__icon{
    width: 170px;
    height: 81px;
    border: 1px solid $color-icon;
    border-radius: 4px;
    fill: $color-icon;
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        border: 1px solid $primary-color;
        fill: $primary-color;
    }
}
